.container{
    background-image: url('../../img/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

.logoutIcon, .listIcon{
    font-size: 20pt;
    cursor: pointer;
}