.container{
    background-image: url('../../img/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

.logoutIcon, .listIcon{
    font-size: 20pt;
    cursor: pointer;
}

fieldset{
    position: absolute;
    left: 50%;
    text-align: left;
    transform: translateX(-50%);
    width: 70vw;
    margin-top: 10vh;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;

    @media(max-width: 1024px){
        width: 40vw;
    }

    @media(max-width: 1440px){
        width: 25vw;
    }

    @media(max-width: 1680px){
        width: 15vw;
    }
}

legend{
    font-size: 16pt;
    text-align: center;
}

input{
    background: transparent;
    border: 1px solid;
    border-radius: 20px;
    height: 25px;
    padding: 0 10px;
    color: white;
    width: 50vw;  
    
    @media(max-width: 1024px){
        width: 30vw;
    }

    @media(max-width: 1440px){
        width: 25vw;
    }

    @media(max-width: 1680px){
        width: 25vw;
    }
}

.inputDate{
    width: 15vw;
}